.nav-bar .link-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#particles-js{
    background-color: dodgerblue;
    z-index: -100;
    position:absolute;
    width: 100vw;
    height:50vh;
}