#particles-js{
    background-color: dodgerblue;
    z-index: -100;
    position:absolute;
    width: 100vw;
    height:100vh;
}

.body-wrapper{
    display: flex;
    justify-content: center;
}

.body-container{
    width: 75vw;
    display: flex;
    row-gap: 20px;
    flex-direction: column;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar img{
    width:50%;
    height:50%;
}
.nav-bar .link-list{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.link-list li{
    list-style-type:none;
}
.link-url{
    text-decoration: none;
    font-size:16px;
    color:white;
}

.main-content{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
}

.main-content .text-col{
    width: 50%;
}

.text-col .text-header{
    font-size: 50px;
    font-weight: 500;
}

.text-col .text-content{
    font-size:20px;
    font-weight: 400;
}

.main-content .img-col{
    max-width: 350px;
}

.img-col img{
    width:100%;
    height:100%;
}
