#particles-js{
    background-color: dodgerblue;
    z-index: -100;
    position:absolute;
}

.body-wrapper{
    display: flex;
    justify-content: center;
}

.body-container{
    width: 75vw;
    display: flex;
    row-gap: 10vh;
    flex-direction: column;
}

.nav-bar{
    display: flex;
    align-items: center;
    margin-top:2.5vh;
    justify-content: space-between;
}
.nav-bar img{
    width:30%;
    height:50%;
}
.nav-bar .link-list{
    width: 50%;
    display: flex;
    justify-content: center;
}
.link-list li{
    list-style-type:none;
    margin: auto 25px;
}
.link-url{
    text-decoration: none;
    font-size:16px;
    color:white;
}

.main-content{
    display:flex;
    justify-content: space-between;
    color: white;
}
@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
.main-content{
    flex-wrap: wrap;
    row-gap: 10vh;
}
#particles-js{
    width: 100vw;
    height:200vh;
}
}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
.main-content{
    flex-wrap: wrap;
    row-gap: 10vh;
}
#particles-js{
    width: 100vw;
    height:150vh;
}
}

@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
.main-content{
    flex-wrap: nowrap;
}
#particles-js{
    width: 100vw;
    height:100vh;
}
.main-content .text-col{
    width: 50%;
}

.main-content .img-col{
    width: 50%;
    display: flex;
    align-items: center;
}
}

.main-content .img-col{
    margin-left: 10vw;
}
.text-col .text-header{
    font-size: 50px;
    font-weight: 500;
}

.text-col .text-content{
    font-size:25px;
    font-weight: 400;
    text-align: justify;
    text-justify: distribute;
    text-align-last: left;
}

.img-col img{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



